apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - userarn: arn:aws:iam::866945988845:root
      username: root
      groups:
        - system:masters
